doctype html
html(lang='en')
  head
    include meta

    link(rel='shortcut icon', href='/images/favicon.ico')

    title Sheppark

    include style

    block style
    
    include fallback-script
  body
    include nav
      
    #back-to-top.btn.btn-info
      span Back to top
      i.fa.fa-arrow-up.fa-fw
      
    .plx
      header
        h1 Written in the Stars
        p A short and simple blog header caption
      main
        block main
      footer
        p The End
    
    include script
    
    block script