nav.navbar.navbar-fixed-top
  ul.nav
    li.active
      a(href='/') Home
    li
      a(href='/psychology') Psychology
    li
      a(href='/cooking') Cooking
    li
      a(href='/russiansinlondon') Russians in London
    li
      a(href='/interviews') Short stories
    li
      a(href='/interviews') Interviews
    li
      a(href='/about') About
