script(src='https://code.jquery.com/jquery-2.2.0.min.js', data-alt-src='/lib/jquery/dist/jquery.min.js', onerror='fallback(this)')
<!--[if lte IE 9]>
script(src='https://code.jquery.com/jquery-migrate-1.3.0.min.js', data-alt-src='/lib/jquery-migrate/jquery-migrate.min.js', onerror='fallback(this)')
<![endif]-->
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js', data-alt-src='/lib/bootstrap/dist/js/bootstrap.min.js', onerror='fallback(this)')
script(src='https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js', data-alt-src='/lib/typeahead.js/dist/typeahead.bundle.min.js', onerror='fallback(this)')
script(src='https://cdnjs.cloudflare.com/ajax/libs/riot/2.2.4/riot.min.js', data-alt-src='/lib/riot/riot.min.js', onerror='fallback(this)')

script(src='/scripts/tag.js')
script(src='/scripts/main.js')