@import url("//fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic");
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Bad Script';
  font-size: 1em;
  color: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

object, embed, input::-moz-focus-inner {
  outline: 0;
  border: 0; }

a, a[href], a:active, a:focus, a:hover, a:link, a:visited {
  outline: 0; }

header, footer {
  position: relative;
  padding: 5% 0 5%;
  width: 100vw;
  overflow: hidden;
  /* Hack;
  Firefox hack to retain parallax effect, where as other browsers require 
  hidden overflow to prevent header & footer warping the .plx height.
  */ }
@-moz-document url-prefix() {
  header, footer {
    overflow: visible; } }
  header:before, footer:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("//unsplash.it/1500/1500?image=558");
    background-repeat: no-repeat;
    background-position: 0 -75px;
    background-size: cover;
    min-height: 100vh;
    z-index: -1; }
  header *, footer * {
    letter-spacing: 0.2em;
    text-align: center;
    padding: 1em 0; }
  header h1, footer h1 {
    transition: opacity .5s ease;
    opacity: 1; }
  header.small, footer.small {
    font-size: 100%; }
    header.small h1, footer.small h1 {
      opacity: 0; }
  header p, footer p {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1); }

main {
  position: relative;
  background-color: #fff;
  padding: 5% 0;
  min-height: 100vh;
  z-index: 2;
  color: #333; }

nav {
  font-size: 1.25em; }
  nav.navbar {
    width: 100%;
    background-clip: padding-box;
    transition: all .5s ease; }
    nav.navbar, nav.navbar * {
      color: #fff; }
    nav.navbar ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      overflow: hidden;
      background-clip: padding-box; }
      nav.navbar ul li {
        -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
                flex: 1 100%;
        white-space: nowrap;
        text-align: center; }
        nav.navbar ul li a {
          display: block;
          padding: 10px 15px; }
    nav.navbar a:hover {
      background: none;
      text-decoration: underline; }
    nav.navbar.small {
      font-size: 100%;
      width: 16.666667%; }
      nav.navbar.small, nav.navbar.small * {
        color: #333; }
      nav.navbar.small ul {
        position: relative;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        overflow: visible; }
        nav.navbar.small ul li {
          text-align: right; }
          nav.navbar.small ul li:focus a, nav.navbar.small ul li:hover a {
            text-decoration: none;
            color: #0275D8; }
    @media (max-width: 61.9em) {
      nav.navbar, nav.navbar * {
        color: #333; }
      nav.navbar, nav.navbar.small {
        width: 150px;
        padding: 0; }
      nav.navbar {
        top: 2%;
        left: 2%;
        font-size: 100%; }
        nav.navbar ul {
          -webkit-flex-flow: row wrap;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          background-color: #ffffff;
          background-color: rgba(255, 255, 255, 0.9);
          border: 0.0625rem solid #e5e5e5;
          border-radius: .25rem; }
          nav.navbar ul li {
            -webkit-flex: 1 100%;
                -ms-flex: 1 100%;
                    flex: 1 100%;
            text-align: right; } }
    @media (max-width: 61.9em) and (max-height: 25em) {
      nav.navbar, nav.navbar.small {
        width: 300px; }
      nav.navbar ul li {
        -webkit-flex: 1 50%;
            -ms-flex: 1 50%;
                flex: 1 50%; } }

#top-nav-toggle {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 9999; }
  #top-nav-toggle .btn {
    border-radius: .25rem; }
    #top-nav-toggle .btn:before {
      display: inline-block;
      content: '\2630';
      font-family: 'FontAwesome';
      font-size: 1.25em;
      font-weight: 600;
      width: 20.571px;
      width: 1.28571429rem;
      text-align: center; }

#top-nav:not(.hidden-md-down) + #top-nav-toggle .btn {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0; }
  #top-nav:not(.hidden-md-down) + #top-nav-toggle .btn:before {
    content: '\00d7'; }

#back-to-top {
  position: fixed;
  right: 5%;
  bottom: 2%;
  z-index: 9999;
  display: none; }

.plx {
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%; }
  .plx > header, .plx > footer {
    -webkit-transform-style: inherit;
            transform-style: inherit; }
    .plx > header:before, .plx > footer:before {
      -webkit-transform: translateZ(-1px) scale(2);
              transform: translateZ(-1px) scale(2); }

blog-post + blog-post {
  margin-top: 20px;
  margin-top: 1.25rem; }
blog-post .figure {
  display: block; }
  blog-post .figure .figure-caption {
    margin-top: -2.75em;
    margin-right: .5em; }
    blog-post .figure .figure-caption > a {
      padding: 0 .5em;
      background-color: #ffffff;
      background-color: rgba(255, 255, 255, 0.25);
      border-radius: .25rem;
      cursor: pointer;
      transition: background-color .5s ease; }
      blog-post .figure .figure-caption > a:hover {
        text-decoration: none;
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.75); }

#about-me-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  #about-me-links > .card-link {
    margin: 8px;
    margin: .5rem; }

.pager > .active a, .pager > .active a:hover, .pager > .active a:focus, .pager > .active span, .pager > .active span:hover, .pager > .active span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #0275d8;
  border-color: #0275d8; }
