extends ../shared/layout

block main
  .container
    .row
      .col-md-8.col-lg-offset-2.col-lg-6
        blog#main(collection='home')
      .col-md-4.col-lg-4
        .card.ddn-profile
          .card-block.card-img-top
            img.ddn-profile-image(src='https://scontent-ams3-1.cdninstagram.com/hphotos-xap1/t51.2885-19/s150x150/12407526_573054112847314_1507795626_a.jpg')
            h4.card-title Kristina Sheppard
            h6.card-subtitle Mrs Cool Calm & Confident
          .card-block
            .card-text.text-center
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac neque a lacus luctus bibendum sit amet ac nisl. Cras sed suscipit erat, at vehicula ante.
          #about-me-links.card-block
            a.card-link(href='#')
              i.fa.fa-instagram
            a.card-link(href='#')
              i.fa.fa-facebook
            a.card-link(href='#')
              i.fa.fa-vk
            a.card-link(href='#')
              i.fa.fa-pinterest-p
            a.card-link(href='#')
              i.fa.fa-linkedin
        .card
          .card-block
            h4.card-title Find it...
            blog-search
        .card
          .card-block
            h4.card-title Recently...
          .list-group.list-group-flush
            a.list-group-item(href='#home')
              h4.list-group-item-heading List group item heading
              p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            a.list-group-item(href='#')
              h4.list-group-item-heading List group item heading
              p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            a.list-group-item(href='#')
              h4.list-group-item-heading List group item heading
              p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.