@import url('//fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: {
    family: 'Bad Script';
    size: 1em;
  }
  color: #fff;
}

header, footer {
  position: relative;
  padding: 5% 0 5%;
  width: 100%;
  width: 100vw;

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: {
      image: url('//unsplash.it/1500/1500?image=558');
      repeat: no-repeat;
      position: 0 -75px;
      size: cover;
    };
    min-height: 100%;
    min-height: 100vh;
    z-index: -1;
  }

  * {
    letter-spacing: 0.2em;
    text-align: center;
    padding: 1em 0;
  }

  h1 {
    transition: opacity .5s ease;
    opacity: 1;
  }

  &.small {
    font-size: 100%;

    h1 {
      opacity: 0;
    }
  }

  p {
    background: {
      color: hsla(0, 0%, 100%, 0.1);
    };
  }
}

main {
  position: relative;
  background: { 
    color: #fff;
  };
  padding: 5% 0;
  min-height: 25rem;
  min-height: 100vh;
  z-index: 2;
  color: #333;
}

nav {
  font-size: 1.25em;

  &.navbar {
    width: 100%;
    background: {
      color: rgba(255, 255, 255, 0);
      clip: padding-box;
    };
    transition: all .5s ease;

    &, * {
      color: #fff;
    }

    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      overflow: hidden;

      li {
        flex: 1 100%;
        white-space: nowrap;
        text-align: center;

        a {
          display: block;
          padding: 10px 15px;
        }
      }
    }

    a:hover {
      background: none;
      text-decoration: underline;
    }

    &.small {
      font-size: 100%;
      padding: 5% 0;
      width: 16.666667%;

      &, * {
        color: #333;
      }

      ul {
        flex-flow: row wrap;
        justify-content: flex-start;

        li {
          text-align: right;
        }
      }
    }

    @media (max-width: 61.9em) {
      &, * {
        color: #333;
      }

      &, &.small {
        width: 150px;
        padding: 0;
      }

      & {
        top: 2%;
        left: 2%;
        font-size: 100%;

        ul {
          flex-flow: row wrap;
          justify-content: flex-start;
          background: {
            color: #fff;
          };
          border: 0.0625rem solid #e5e5e5;
          border: {
            radius: .25rem;
          };

          li {
            flex: 1 100%;
            text-align: right;
          }
        }
      }
    }

    @media (max-width: 61.9em) and (max-height: 25em) {
      &, &.small {
        width: 300px;
      }
      
      & {
        ul {
          li {
            flex: 1 50%;
          }
        }
      }
    }
  }
}

#top-nav-toggle {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 9999;

  .btn {
    border: {
      radius: .25rem;
    };
  }

  .btn:before {
    display: inline-block;
    content: '\2630';
    font: {
      family: 'FontAwesome';
      size: 1.25em;
      weight: 600;
    };
    width: 1.28571429em;
    text-align: center;
  }
}

#top-nav:not(.hidden-md-down) + #top-nav-toggle {
  .btn {
    border: {
      top-right-radius: 0;
      bottom-left-radius: 0;
    };
  }

  .btn:before {
    content: '\00D7';
    font: {
      family: 'FontAwesome';
      size: 1.25em;
      weight: 600;
    };
    width: 1.28571429em;
    text-align: center;
  }
}

#back-to-top {
  position: fixed;
  right: 5%;
  bottom: 2%;
  z-index: 9999;
  display: none;
}

.plx {
  perspective: 1px;
  perspective-origin-x: 100%;
  transform-style: preserve-3d;
  overflow: {
    x: hidden;
    y: auto;
  };
  height: 100%;
  width: 100%;

  & > header,
  & > footer {
    transform-style: inherit;

    &:before {
      transform-origin: center center 0;
      transform: translateZ(-1px) scale(2);
    }
  }
}

.blog-post {
  & + .blog-post {
    margin-top: 1.25rem;
  }
}

.card-link {
  & + .card-link {
    margin-left: 1rem;
  }
}