@import url('//fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: {
    family: 'Bad Script';
    size: 1em;
  }
  color: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

object, embed, input::-moz-focus-inner {
  outline: 0;
  border: 0;
}

a, a[href], a:active, a:focus, a:hover, a:link, a:visited {
  outline: 0;
}

header, footer {
  position: relative;
  padding: 5% 0 5%;
  width: 100vw;
  overflow: hidden;

  /* Hack;
  Firefox hack to retain parallax effect, where as other browsers require 
  hidden overflow to prevent header & footer warping the .plx height.
  */
  @-moz-document url-prefix() { 
    & {
      overflow: visible;
    }
  }

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: {
      image: url('//unsplash.it/1500/1500?image=558');
      repeat: no-repeat;
      position: 0 -75px; // TODO: Adjust accordingly for chosen image
      size: cover;
    };
    min-height: 100vh;
    z-index: -1;
  }

  * {
    letter-spacing: 0.2em;
    text-align: center;
    padding: 1em 0;
  }

  h1 {
    transition: opacity .5s ease;
    opacity: 1;
  }

  &.small {
    font-size: 100%;

    h1 {
      opacity: 0;
    }
  }

  p {
    background: {
      color: hsla(0, 0%, 100%, 0.1);
    };
  }
}

main {
  position: relative;
  background: { 
    color: #fff;
  };
  padding: 5% 0;
  min-height: 100vh;
  z-index: 2;
  color: #333;
}

nav {
  font-size: 1.25em;

  &.navbar {
    width: 100%;
    background: {
      clip: padding-box;
    };
    transition: all .5s ease;

    &, * {
      color: #fff;
    }

    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      overflow: hidden;
      background: {
        clip: padding-box;
      };

      li {
        flex: 1 100%;
        white-space: nowrap;
        text-align: center;

        a {
          display: block;
          padding: 10px 15px;
        }
      }
    }

    a:hover {
      background: none;
      text-decoration: underline;
    }

    &.small {
      font-size: 100%;
      width: 16.666667%;

      &, * {
        color: #333;
      }

      ul {
        position: relative;
        flex-flow: row wrap;
        justify-content: flex-start;
        overflow: visible;

        li {
          text-align: right;
          
          &:focus, &:hover {
            a {
              text-decoration: none;
              color: #0275D8;
            }
          }
        }
      }
    }

    @media (max-width: 61.9em) {
      &, * {
        color: #333;
      }

      &, &.small {
        width: 150px;
        padding: 0;
      }
      
      & {
        top: 2%;
        left: 2%;
        font-size: 100%;

        ul {
          flex-flow: row wrap;
          justify-content: flex-start;
          background: {
            color: rgba(255, 255, 255, 0.9);
          };
          border: 0.0625rem solid #e5e5e5;
          border: {
            radius: .25rem;
          };

          li {
            flex: 1 100%;
            text-align: right;
          }
        }
      }
    }

    @media (max-width: 61.9em) and (max-height: 25em) {
      &, &.small {
        width: 300px;
      }

      ul {
        li {
          flex: 1 50%;
        }
      }
    }
  }
}

#top-nav-toggle {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 9999;

  .btn {
    border: {
      radius: .25rem;
    };

    &:before {
      display: inline-block;
      content: '\2630';
      font: {
        family: 'FontAwesome';
        size: 1.25em;
        weight: 600;
      };
      width: 1.28571429rem;
      text-align: center;
    }
  }
}

#top-nav:not(.hidden-md-down) + #top-nav-toggle {
  .btn {
    border: {
      top-right-radius: 0;
      bottom-left-radius: 0;
    };

    &:before {
      content: '\00d7';
    }
  }
}

#back-to-top {
  position: fixed;
  right: 5%;
  bottom: 2%;
  z-index: 9999;
  display: none;
}

.plx {
  perspective: 1px;
  transform-style: preserve-3d;
  overflow: {
    x: hidden;
    y: auto;
  };
  height: 100%;
  width: 100%;

  & > header,
  & > footer {
    transform-style: inherit;

    &:before {
      transform: translateZ(-1px) scale(2);
    }
  }
}

blog-post {
  & + & {
    margin-top: 1.25rem;
  }
  .figure {
    display: block;

    .figure-caption {
      margin-top: -2.75em;
      margin-right: .5em;

      & > a {
        padding: 0 .5em;
        background: {
          color: hsla(0, 0%, 100%, 0.25);
        };
        border: {
          radius: .25rem;
        };
        cursor: pointer;
        transition: background-color .5s ease;

        &:hover {
          text-decoration: none;
          background: {
            color: hsla(0, 0%, 100%, 0.75);
          };
        }
      }
    }
  }
}

#about-me-links {
  display: flex;
  justify-content: space-around;
  
  & > .card-link {
    margin: .5rem;
  }
}

.pager {
  & > .active {
    a, span {
      &, &:hover, &:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #0275d8;
        border-color: #0275d8;
      }
    }
  }
}