script(src='/lib/jquery/dist/jquery.min.js')
<!--[if lte IE 9]>
script(src='/lib/jquery-migrate/jquery-migrate.min.js')
<![endif]-->
script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
script(src='/lib/typeahead.js/dist/typeahead.bundle.min.js')
script(src='/lib/riot/riot.min.js')

script(src='/scripts/tag.js')
script(src='/scripts/main.js')